.TravellingGuidelinePage{
    overflow-y: scroll;
}
.ArticleDetailsPage{
    overflow-y: scroll;
    
}
.contents{
    width: 100%;
}
.contentItem{
width: 100%;
    .contentList{
        display: flex;
        margin-bottom: 30px;
        // margin-left: 40%;
        .left{
            margin-right: 30px;
            .ant-image-img{
                width: 290px;
                height: 190px;
                border-radius: 12px;
            }
        }
        .right{
            width: 300px;
            .title{
                font-size: 18px;
                line-height: 18px;
                height: 20px;
                font-weight: 500;
                color: #333333;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;
            }
            .userName{
                margin-top: 20px;
                .userNameInfo{
                    color: #333333;
                    font-size: 14px;
                    line-height: 14px;
                    margin-left: 4px;
                }
            }
            .content{
                margin-top: 20px;
                color: #999999;
                font-size: 14px;
                line-height: 22px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: box;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                word-break: break-all;
            }
        }
    }
}
.ant-pagination{
    position: absolute;
    bottom: 10px;
    left: 40%;
} 